# PlatformIO Build Directory & Dependencies
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# Operating System & IDE Metadata
.DS_Store
._*
.idea/
.vscode/.browse.c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch/
*.zip
*.log
